<%provide(:title, "About")  %>

<h1>about</h1>
<p>
    The <a href='https://www.railstutorial.org/'><em>Ruby on Rails Tutorial</em></a>
    part of the <a href='https://www.learnenough.com'><em>Learn Enoughl</em></a> family of tutorials, is a 
    <a href='https://www.railstutorial.org/book'><em>book</em></a> and 
    <a href='https://screencast.railstutorial.org/'><em>Screen Cast series</em></a> to teach web development withi
    <a href='https://rubyonrails.org/'><em>Ruby on Rails</em></a>.
    This is the sample app for the tutorial !
</p>